@using EPiServer.Shell.Web.Mvc.Html;
@using SampleCMS.Business.Models;

@model ContactUsPageViewModel
<h3>Contact Us Page</h3>
<section id="main">
    <div class="container">
        <div class="row">
            @Html.PropertyFor(x=>x.Page.BottomContentArea)

        </div>
    </div>
</section>
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <p style="color:red;" class="btn py-3 px-5">  @TempData["Success"]</p>
        <div class="col-md-6 order-md-last d-flex">
            <form asp-controller="ContactUsPage" asp-action="SubmitContactUs" asp-route-returnurl="@Model.ReturnUrl" class="bg-white p-5 contact-form">
                <div class="form-group">
                    <input asp-for="@Model.FullName" type="text" class="form-control" placeholder="Your Full Name">
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <textarea asp-for="@Model.Comment" type="text" class="form-control" placeholder="Comment">Comment</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                </div>
            </form>

        </div>
    </div>
</section>
<section class="ftco-section contact-section bg-light">
    <div class="container">
        @if (TempData["cmtList"] != null)
        {
            foreach (var l in (IEnumerable<SubmitContactUs>)TempData["cmtList"])
            {
                <p> Name : <b>@l.FullName</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Comment : @l.Comment</p>
            }
        }
    </div></section>