@model AbstractContentPage
<div class="row">
	<div class="col-md-12 d-flex ftco-animate">
		<div class="blog-entry align-self-stretch d-md-flex">
			<a href="@Url.ContentUrl(Model.ContentLink)"> @Model.Name</a>			
			<div class="text d-block pl-md-4">
				<h3>@Html.PropertyFor(x => x.PageTitle)</h3>
				<a href="@Url.ContentUrl(Model.ContentLink)" class="block-20" style="background-image: url('/static/images/image_2.jpg');"></a>
				<p>@Html.PropertyFor(x => x.MetaDescription)</p>			
				<p>July 20, 2023 - ArticalParital</p>
			</div>
		</div>
	</div>
</div>